@{
    ViewBag.Title = "Index";
}

<h2>Portfolio</h2>

<p>Your portfolio is empty.</p>

<div>
    <p>If you want to update your profile <a href="@Url.Action("UpdateProfile", "User")">click here</a>.</p>
</div>